
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  padding: 0.4rem 0.6rem;
  width: fit-content;
  gap: 0.5rem;
}

.search-box select {
  border: none;
  background-color: #fff;
  border-radius: 0.5rem;
  /* padding: 0.4rem 0.8rem; */
  font-family: "Open Sans", sans-serif;
  color: #555;
  box-shadow: 0 0 0 2px #d0e3ff; /* Light blue glow */
  outline: none;
}

.search-box input {
  border: none;
  background-color: transparent;
  /* padding: 0.4rem 0.5rem; */
  font-family: "Open Sans", sans-serif;
  width: fit-content;
  outline: none;
  color: #333;
}

.search-box button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
}
.con{
    width: 100%;
    display: flex;
    gap: 1rem;
     align-items: center;
    align-items: center;
}
.head04{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.head03{
    width: fit-content;
    display: flex;
    align-items: center;
    align-items: center;
    gap: 1rem;
}
@media screen and (max-width: 768px) {
    .con{
        display: block;
    }
    .head02{
        display: none;
    }
    .search-box{
        display: none;
    }
    .head04{
        display: none;
    }
    .bi{
        border-radius: 50%;
        padding: 0.5rem;
        background-color: #f9f3f3;
    }
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    #menu:checked +.header25{
    display: block;
}
.header25{
    display: none;
}
#menu{
    display: none;
}
   

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .con{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
    .bi{
        border-radius: 50%;
        padding: 0.5rem;
        background-color: #f9f3f3;
    }
     .head02{
        display: none;
    }
    .search-box{
        display: none;
    }
    .head04{
        display: none;
    }
    #menu {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    #menu{
        display: none;
    }
}

